@use './../mixins' as *;

/* Хлебные крошки */
.breadcrumbs {
  --breadcrumbs-gap: 1rem;

  overflow: hidden;

  @include md {
    margin-left: calc(var(--container-padding) * -1);
    width: calc(100% + (var(--container-padding) * 2));
  }

  &__inner {
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    @include md {
      padding: 0 var(--container-padding);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--breadcrumbs-gap);
    width: fit-content;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--breadcrumbs-gap);

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    white-space: nowrap;

    @include sm {
      font-size: 1.2rem;
    }

    &:not(:last-child) {

      &::after {
        content: "|";
      }
    }
  }

  a {
    position: relative;

    &:hover {

      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      width: 0;
      height: 0.1rem;
      background-color: var(--blue);
      transition: width 0.5s ease;

      position: absolute;
      bottom: 0.1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}