@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 6rem;
  --btn-padding-x: 2rem;
  --btn-color: var(--white);
  --btn-background: transparent;
  --btn-border-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  flex-shrink: 0;
  width: var(--btn-width);
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  border-right: 0.1rem solid var(--btn-border-color);
  border-left: 0.1rem solid var(--btn-border-color);
  transition: all 0.3s ease;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--btn-color);
  white-space: nowrap;
  text-transform: uppercase;

  position: relative;
  z-index: 1;

  @include sm {
    --btn-height: 5rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {

    @include dosm {}
  }
}