@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 5.6rem;
  --btn-first-padding: 0.3rem;
  --btn-second-padding: 0.4rem;
  --btn-padding-x: 2.2rem;
  --btn-color: var(--white);
  --btn-background: var(--accent);
  --btn-scale-background: var(--accent);
  --btn-border-radius: 10rem;
  --btn-border-color: var(--accent);
  --btn-border-width: 0.5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  flex-shrink: 0;
  width: var(--btn-width);
  min-width: var(--btn-height);
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  border: var(--btn-border-width) solid var(--btn-border-color);
  transition: all 0.3s ease;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  color: var(--btn-color);
  white-space: nowrap;

  position: relative;
  z-index: 1;

  @include md {
    --btn-height: 5rem;
  }

  @include sm {
    --btn-padding-x: 1.5rem;
    --btn-padding-x: 2.8rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {

    @include dosm {

      .scale {
        transform: scale(100%);
      }
    }
  }

  .scale {
    position: absolute;
    top: var(--btn-first-padding);
    right: var(--btn-first-padding);
    bottom: var(--btn-first-padding);
    left: var(--btn-first-padding);
    z-index: -1;
    border-radius: 2.4rem;
    background-color: var(--btn-scale-background);
    transition: all 0.5s ease;
    pointer-events: none;
  }
}