@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 6rem;
  --btn-padding-x: 2rem;
  --btn-color: var(--white);
  --btn-background: transparent;
  --btn-border-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  flex-shrink: 0;
  width: var(--btn-width);
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  border-right: 0.1rem solid var(--btn-border-color);
  border-left: 0.1rem solid var(--btn-border-color);
  transition: all 0.8s ease;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--btn-color);
  white-space: nowrap;
  text-transform: uppercase;

  position: relative;
  z-index: 1;

  @include sm {
    --btn-height: 5rem;
  }

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: var(--white);
    transition: width 0.8s ease;

    position: absolute;
    top: 0;
    left: -0.1rem;
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: var(--white);
    transition: width 0.8s ease;

    position: absolute;
    bottom: 0;
    right: -0.1rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {

    @include dosm {
      --btn-padding-x: 4rem;

      &::before,
      &::after {
        width: calc(100% + 0.2rem);
      }
    }
  }

  .icon-chevron-min {
    transform: rotate(-90deg);
  }
}