@use './../mixins' as *;

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

  @include sm {
    gap: 0.8rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @include sm {
      gap: 1rem;
    }
  }

  &__item {

    input {
      display: none;

      &:checked+label {
        color: var(--white);

        background-color: var(--sizyy);
      }
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      padding: 2.1rem 2rem;
      background-color: var(--white);
      flex-shrink: 0;
      transition: all 0.5s ease;

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 120%;
      text-align: center;
      white-space: nowrap;

      @include sm {
        padding: 1rem 1.5rem;
        height: 4rem;
        max-width: unset;
        width: fit-content;

        font-size: 1.2rem;
      }
    }
  }

  &__download {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: auto;

    color: var(--sizyy);

    @include md {
      margin-left: 0;
    }

    @include sm {
      margin-top: 0.7rem;
    }

    &:hover {
      color: var(--blue);

      i {

        &::before {
          transform: rotate(360deg);
          transition: all 0.3s ease;
        }

        &::after {
          background-color: var(--blue);
        }
      }
    }

    i {
      font-size: 1rem;

      &::after {
        height: 0.1rem;
      }
    }

    p {

      @include md {
        font-size: 1.4rem;
      }
    }
  }

  .dropdown {
    max-width: 26rem;

    @include sm {
      max-width: 100%;
    }

    &-item {
      font-size: 1.4rem;
      color: var(--blue);

      padding: 0 2rem 2rem 2rem;

      @include sm {
        font-size: 1.2rem;

        padding: 0 1.5rem 1.5rem 1.5rem;
      }

      &:last-child {
        padding-bottom: 3.3rem;
      }
    }

    &-btn {
      font-weight: 700;
      font-size: 1.4rem;
      color: var(--blue);

      height: 6rem;
      padding: 2.1rem 2rem;
      border-bottom: 0;
      background-color: var(--white);

      @include sm {
        font-size: 1.2rem;

        padding: 1.2rem 1.5rem;
      }
    }
  }
}