@use './../mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6.3rem 0 4rem 0;

  color: var(--white);

  @include md {
    padding: 3rem 0;
  }

  .col-xs-12 {
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

    @include md {
      gap: 3rem;
    }
  }

  &__head {
    padding: 0 0 0 5rem;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 120%;

    @include md {
      padding: 0;
    }

    @include sm {
      font-size: 2.5rem;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;

    @include md {
      gap: 2.5rem;
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 1.5rem;
    }
  }

  &-group {
    width: 100%;
    height: 5rem;
    position: relative;

    @include md {
      height: 4rem;
    }

    &--file {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      margin-top: -1.5rem;

      @include md {
        gap: 0.5rem;
      }

      label {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include md {
          gap: 0.5rem;
        }

        i {
          --font-size: 3.4rem;

          border-radius: 50%;
          background-color: var(--blue-10);
          transition: all 0.3s ease;

          g {
            transition: all 0.3s ease;
          }

          path {
            transition: all 0.3s ease;
          }
        }

        p {
          color: var(--blue-50);
          text-decoration: underline;
          transition: all 0.3s ease;

          @include md {
            font-size: 1.2rem;
          }

          @include sm {
            font-size: 1.3rem;
          }
        }

        &:hover {

          i {
            background-color: var(--white);

            g {
              opacity: 1;
            }

            path {
              stroke: var(--blue);
            }
          }

          p {
            color: var(--blue);
          }
        }
      }
    }
  }

  &-input {
    width: 100%;
    height: 100%;
    padding: 1rem 0 2rem 5rem;
    background: transparent;
    transition: all 0.3s ease;
    // border-bottom: 0.1rem solid var(--white-10);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--white);

    @include md {
      padding: 0 0 2rem 2rem;

      font-size: 1.4rem;
    }

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 130%;
      color: var(--white-30);
      opacity: 0;
      transition: all 0.3s ease;
    }

    &.filled,
    &:focus,
    &:active,
    &:hover {

      &::placeholder {
        opacity: 1;
      }

      &+.form-label::after {
        width: 100%;
      }
    }

    &:focus,
    &:active,
    &:hover,
    &.filled {

      &+.form-label>div {
        top: -2rem;
        // left: -3rem;
      }
    }

    &.invalid {
      color: var(--red) !important;

      &+.form-label {
        color: var(--red);

        &::before,
        &::after {
          background-color: var(--red);
        }

        &+span {
          opacity: 1;
        }
      }
    }
  }

  &-label {
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 0.3s ease;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--white-50);

    position: absolute;
    top: 0;
    left: 0;

    @include md {
      font-size: 1.4rem;
    }

    &::before {
      content: "";
      width: 100%;
      height: 0.1rem;
      background-color: var(--white-10);

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    &::after {
      content: "";
      width: 0;
      height: 0.1rem;
      background-color: var(--white);
      transition: width 0.5s linear;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    div {
      padding: 0 0 3rem 5rem;
      transition: all 0.5s ease;

      pointer-events: none;

      position: absolute;
      top: 0;
      left: 0;

      @include md {
        padding: 0 0 2rem 2rem;
      }
    }

    span {
      color: var(--red);
    }

    &+span {
      margin-top: 0.7rem;
      opacity: 0;

      font-weight: 400;
      font-size: 1rem;
      line-height: 130%;
      color: var(--red);
    }
  }

  &-textarea {
    width: 100%;
    height: 100%;
    padding: 1rem 0 2rem 5rem;
    background: transparent;
    transition: all 0.3s ease;
    border-bottom: 0.1rem solid var(--white-10);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--white);

    overflow-y: hidden;

    resize: none;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 130%;
      color: var(--white-30);
      opacity: 0;
      transition: all 0.3s ease;
    }

    &.filled,
    &:focus,
    &:active,
    &:hover {

      &::placeholder {
        opacity: 1;
      }

      &+.form-label::after {
        width: 100%;
      }
    }

    &:focus,
    &:active,
    &:hover,
    &.filled {

      &+.form-label>div {
        top: -2rem;
        // left: -3rem;
      }
    }
  }

  &-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include md {
      grid-template-columns: 1fr 1.35fr;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
    }
  }

  &-btn {
    width: 100%;

    @include sm {
      font-size: 1.2rem;
    }
  }

  &-checkbox {
    display: none;

    &:checked {

      &+.form-checkbox--item {

        &::after {
          background-color: var(--blue);
        }
      }
    }

    &--item {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background-color: var(--sizyy);
      position: relative;
      flex-shrink: 0;

      &::before {
        content: "";
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background-color: var(--white);
        flex-shrink: 0;
        transition: all 0.3s ease;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: var(--white);
        flex-shrink: 0;
        transition: all 0.3s ease;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    p {
      font-weight: 400;
      font-size: 1.2rem;
      color: var(--white-50);
    }

    a {
      color: var(--sizyy);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-file {
    display: none;

    &--text {
      color: var(--blue-50);

      p {
        font-weight: 300;
        text-decoration: underline;

        @include md {
          font-size: 1.2rem;
        }

        @include sm {
          font-size: 1.3rem;
        }
      }
    }

    &--clear {
      font-weight: 700;
      color: var(--blue-50);
      transition: all 0.3s ease;

      &:hover {
        color: var(--blue);
      }

      span {
        text-decoration: underline;
      }

      @include md {
        font-size: 1.2rem;
      }

      @include sm {
        font-size: 1.3rem;
      }
    }
  }
}