@use './../mixins' as *;

/* Главный заголовок страницы */
h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 10rem;
  line-height: 100%;
  text-transform: uppercase;

  @include md {
    font-size: 8rem;
    line-height: 120%;
  }

  @include sm {
    font-size: 4rem;
    line-height: 100%;
  }
}

/* Заголовки блоков */
h2 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;

  @include md {
    font-size: 5rem;
    line-height: 120%;
  }

  @include sm {
    font-size: 3rem;
    line-height: 120%;
  }
}

/* Текст внутри блока */
p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;

  @include sm {
    font-size: 1.4rem;
  }
}