@use './../mixins' as *;

/* Главный заголовок страницы */
h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 10rem;
  line-height: 100%;
  text-transform: uppercase;

  @include md {
    // font-size: 8rem;
    font-size: calc(100vw/(834/80));
    line-height: 120%;
  }

  @include sm {
    font-size: 4rem;
    line-height: 100%;
  }

  div.line & {
    display: inline-flex;
    gap: 0.2em;
  }
}

/* Заголовки блоков */
h2 {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;

  @include md {
    font-size: 5rem;
    line-height: 120%;
  }

  @include sm {
    font-size: 3rem;
    line-height: 120%;
  }

  div.line & {
    display: inline-flex;
    gap: 0.2em;
  }
}

h3 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 100%;
}

h4 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120%;
}

h5 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
}

h6 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;

  @include md {
    font-size: 1.6rem;
  }
}

/* Текст внутри блока */
p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;

  @include sm {
    font-size: 1.4rem;
  }
}