@use './../mixins' as *;

.catalog {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1rem);

    @include sm {
      width: 100%;
    }

    &-cover {
      aspect-ratio: 706/288;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 5rem;
      padding: 4rem;

      border-bottom: 0.1rem solid var(--blue-10);

      @include md {
        padding: 2rem 0;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1.5rem;
      }
    }

    &-tags {
      display: flex;
      flex-direction: column;

      p {
        text-decoration-style: dotted;
        text-decoration-color: var(--sizyy);
        text-decoration-line: underline;
      }
    }

    &-foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      @include md {
        flex-direction: column;
        gap: 3rem;
        align-items: unset;
      }
    }

    &-year {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 1.8rem;

      span {
        font-weight: 700;
        font-size: 5rem;
        line-height: 90%;

        @include md {
          font-size: 3rem;
        }
      }

      p {
        color: var(--sizyy);
      }
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.9rem;

      p {
        font-weight: 700;
        text-transform: uppercase;
        text-decoration-style: dotted;
        text-decoration-color: var(--blue);
        text-decoration-line: underline;
      }

      i {
        transform: rotate(-90deg);
        flex-shrink: 0;
      }
    }
  }
}