@use './../mixins' as *;

.catalog {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__slider {
    
    @include md {
      max-width: 100vw;
      width: calc(100% + (var(--container-padding) * 2));
      margin-left: calc(var(--container-padding) * -1);
      padding: 0 var(--container-padding);
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1rem);
    transition: all 0.5s ease;

    @include sm {
      width: 100%;
    }

    // &:hover {
    //   background-color: var(--blue);
    //   color: var(--white);
    // }

    &-img {
      aspect-ratio: 706/288;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 5rem;
      padding: 4rem;
      transition: all 0.5s ease;
      border-bottom: 0.1rem solid var(--blue-10);

      @include md {
        gap: 3rem;
        padding: 2rem 0;
      }

      .page__press & {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;
        gap: 9rem 0;

        @include md {
          grid-template-columns: 1fr;
          grid-template-rows: auto 1fr auto;
          gap: 1.5rem;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1.5rem;
      }

      .page__press & {
        grid-column: 1/3;
        grid-row: 1/2;
        max-width: 52rem;

        @include md {
          grid-column: 1/2;
          grid-row: 2/3;
        }
      }
    }

    &-title {

      h5 {

        @include md {
          font-size: 2rem;
        }
      }
    }

    &-subtitle {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1.5rem;
      }

      p {

        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-tags {
      display: flex;
      flex-direction: column;

      p {
        text-decoration-style: dotted;
        text-decoration-color: var(--sizyy);
        text-decoration-line: underline;
      }
    }

    &-foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      @include md {
        flex-direction: column;
        gap: 3rem;
        align-items: unset;
      }
    }

    &-year {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 1.8rem;

      @include md {
        gap: 0.5rem;
      }

      span {
        font-weight: 700;
        font-size: 5rem;
        line-height: 90%;

        @include md {
          font-size: 3rem;
        }
      }

      p {
        color: var(--sizyy);
      }
    }

    &-date {
      color: var(--blue-50);
      grid-column: 1/2;
      grid-row: 2/3;

      @include md {
        grid-row: 1/2;
      }

      p {

        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.9rem;

      .page__press & {
        grid-column: 2/3;
        grid-row: 2/3;

        @include md {
          grid-column: 1/2;
          grid-row: 3/4;

          margin-top: 1.5rem;
        }
      }

      p {
        font-weight: 700;
        text-transform: uppercase;
        text-decoration-style: dotted;
        text-decoration-color: var(--blue);
        text-decoration-line: underline;

        @include md {
          font-size: 1.4rem;
        }
      }

      i {
        transform: rotate(-90deg);
        flex-shrink: 0;
      }
    }
  }
}