@use './../mixins' as *;

.completed {
  background-color: var(--white);
  margin: 0;
  color: var(--blue);
  position: relative;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 0;

    position: relative;
    z-index: 2;

    @include md {
      flex-direction: column;
      padding: 4rem 0;
    }

    @include sm {
      padding: 3rem 0;
    }
  }

  &__head {
    // max-width: 85.1rem;
    max-width: 70rem;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      display: none;
    }
  }

  &__btn {
    --btn-border-color: var(--blue);
    --btn-color: var(--blue);

    max-width: 43rem;
    width: 100%;

    &--active,
    &:hover {
      --btn-border-color: var(--blue);
      --btn-background: var(--blue);
      --btn-color: var(--white);

      background-color: var(--btn-background);
    }
  }

  &__mask {
    display: flex;
    flex-direction: column;

    font-family: var(--second-family);
    font-style: normal;
    font-weight: 700;
    font-size: 20rem;
    line-height: 0.66;
    color: var(--page-bg);
    pointer-events: none;

    position: absolute;
    bottom: 7.6rem;
    left: -1.2rem;
    z-index: 1;

    @include md {
      display: none;
    }

    * {
      overflow: visible !important;
    }
  }

  &__body {
    width: 88.2rem;
    height: 110.7rem;
    margin-top: -7.8rem;
    margin-bottom: -7.8rem;
    position: relative;

    @include md {
      display: none;
    }
  }

  &__block {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease;

    position: absolute;
    inset: 0;
    z-index: 1;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__markers {
    width: 100%;
    height: 100%;
    pointer-events: none;

    position: absolute;
    inset: 0;
    z-index: 2;

    img {
      max-width: 100%;
      width: auto;
      height: 100%;
      object-fit: contain;

      @include md {
        width: 100%;
        height: auto;
      }
    }
  }

  &__items {
    display: none;
    flex-direction: column;
    gap: 2rem;

    @include md {
      display: flex;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--blue-10);

    &.accordion-active {
      padding: 3.5rem 3rem 5rem 3rem;
      background-color: var(--blue);
      color: var(--white);

      @include sm {
        padding: 2rem 2rem 3rem 2rem;
      }
    }

    &-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      transition: all 0.5s ease;

      .accordion-active & {
        padding-bottom: 3.4rem;

        @include md {
          padding-bottom: 2rem;
        }
      }

      i {
        font-size: 1.9rem;

        @include md {
          font-size: 1.5rem;
        }

        .accordion-active & {
          transition: all 0.5s ease;
          transform: scale(-1, -1);
        }
      }
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: all 0.5s ease;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      overflow: hidden;

      @include md {
        gap: 4rem;
      }

      .btn {
        max-width: 27rem;
        width: 100%;
      }
    }
  }

  &__feats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem 6rem;

    &-item {
      display: flex;
      flex-direction: column;
      padding-right: 11rem;
      min-width: 27rem;
      position: relative;

      @include sm {
        padding-right: 0;
      }

      &::after {
        content: "";
        display: block;
        width: 0.1rem;
        height: 100%;
        background-color: var(--white);

        position: absolute;
        top: 0;
        right: 0;

        @include sm {
          display: none;
        }
      }

      &:last-child {
        padding-right: 0;

        &::after {
          display: none;
        }
      }
    }

    &-suptitle {
      color: var(--sizyy);
      margin-bottom: 1.5rem;
    }
  }

  .general__head {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &-text {

      @include md {
        display: none;
      }
    }

    // .btn {
    //   --btn-border-color: var(--blue);
    //   --btn-color: var(--blue);

    //   max-width: 43.5rem;
    //   width: 100%;

    //   @include md {
    //     display: none;
    //   }
    // }
  }

  svg {
    max-width: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;

    position: relative;
    z-index: 1;

    &-link {
      cursor: pointer;
      outline: none;
      text-decoration: none;
    }
  }

  path {
    transition: all 0.3s ease;
  }

  filter {
    transition: all 0.3s ease;
  }

  .lines {
    z-index: -1;

    @include md {
      display: none;
    }

    &-line {
      background-color: var(--blue-10);
    }
  }
}