@use './../mixins' as *;

.contacts {
  min-height: 60rem;
  margin-bottom: 0;

  @include md {
    overflow: visible;

    position: relative;
  }

  &__inner {

    @include md {
      display: flex;
      flex-direction: column-reverse;
      // height: 100%;
    }
  }

  &__content {
    padding: 4rem 7rem 4.6rem 4rem;
    background-color: var(--white);
    max-width: 56rem;
    color: var(--blue);

    @include md {
      padding: 3rem 2rem;
      max-width: unset;
      width: calc(100% + (var(--container-padding) * 2));
      margin-left: calc(var(--container-padding) * -1);
    }

    a {
      position: relative;

      &:hover {

        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        width: 0;
        height: 0.1rem;
        background-color: var(--blue);
        transition: width 0.5s ease;

        position: absolute;
        bottom: 0.1rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 2rem;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include md {
      gap: 1.5rem;
    }

    a {
      width: fit-content;

      font-family: var(--second-family);
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 120%;
      text-transform: uppercase;
      white-space: nowrap;

      @include md {
        font-size: 2.5rem;
      }

      &::after {
        height: 0.2rem;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      p {
        font-size: 1.2rem;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      gap: 1.5rem;
    }

    &-title {

      p {
        font-weight: 700;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1.5rem;
      }

      a {
        width: fit-content;
      }
    }
  }

  &__bg {
    width: 100%;
    height: auto;
    object-fit: cover;

    position: absolute;
    top: 8rem;
    left: 0;
    z-index: -1;

    @include md {
      width: calc(100% + (var(--container-padding) * 2));
      margin-left: calc(var(--container-padding) * -1);
      height: 100%;
      aspect-ratio: 393/568;

      margin-top: -21rem;
      position: static;
    }

    @include sm {
      margin-top: -12rem;
    }

    & * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}