@use './../mixins' as *;

.design {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  position: relative;

  @include md {
    margin-top: 0;
  }

  &::before {
    content: "";
    width: 0;
    height: 0.1rem;
    transition: all 1s ease;

    position: absolute;
    top: 0;
    left: 0;

    background: rgba(121, 160, 193, 0.5);
    box-shadow: 0px 4px 82.6px rgba(3, 33, 84, 0.2);

    .design:hover {
      width: 100%;
    }

  }

  &__head {
    padding: 10rem 0 7rem 14.5rem;

    position: relative;

    @include md {
      padding: 15.7rem 0 3rem;
    }

    @include sm {
      padding: 6rem 0 2rem;
    }

    &::before {
      content: "";
      width: 0;
      height: 0.1rem;
      background-color: var(--sizyy-50);
      transition: width 2s ease;

      position: absolute;
      bottom: 0;
      left: 0;

      .showed & {
        width: 100%;

        @include md {
          width: calc(100% - (var(--container-padding) * 2));
          margin: 0 auto;
          left: var(--container-padding);
        }
      }
    }

    &-text {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 12rem;
      line-height: 100%;
      color: var(--blue-10);

      @include md {
        font-size: 8rem;
      }

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__inner {
    padding-top: 6rem;

    @include md {
      padding-top: 3rem;
    }

    @include sm {
      padding-top: 2rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 1rem 15.6rem;

    @include md {
      gap: 1rem 2rem;
    }

    @include sm {
      flex-direction: column;
    }
  }

  &__item {
    --inner-margin-right: 15.6rem;

    width: calc(50% - (var(--inner-margin-right)/2));
    min-height: 50.7rem;
    margin-right: var(--inner-margin-right);
    // padding: 6rem 10.6rem 6rem 14.4rem;
    padding: 6rem 12.4rem 6rem 14.4rem;
    background-color: var(--white);
    transition: all 0.3s linear;

    position: relative;

    @include md {
      --inner-margin-right: 0;

      padding: 6.5rem 3rem 3rem 2rem;
      background-color: var(--blue);
    }

    @include sm {
      min-height: 38.9rem;
    }

    &:hover {

      @include domd {
        background-color: var(--blue);
      }
    }

    &:last-child {
      margin-right: 0;
      width: calc(50% - var(--inner-margin-right)/2);

      &::before {
        display: none;
      }
    }

    &::before {
      content: "";
      width: 0.1rem;
      height: 100%;
      background: rgba(121, 160, 193, 0.5);
      box-shadow: 0px 4px 82.6px rgba(3, 33, 84, 0.2);

      position: absolute;
      top: 0;
      right: calc(var(--inner-margin-right) * -1);
      bottom: 0;

      @include md {
        display: none;
      }
    }

    &-count {
      width: 12.5rem;
      height: 12.5rem;
      padding: 2rem;
      background-color: var(--sizyy-10);

      font-weight: 400;
      font-size: 3rem;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--sizyy);

      position: absolute;
      top: 0;
      left: 0;

      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;

        font-size: 2rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-title {
      color: var(--blue);
      text-decoration-style: dotted;
      text-decoration-color: #fff;
      text-decoration-line: underline;

      margin-bottom: 4rem;

      transition: all 0.3s linear;

      @include md {
        color: var(--white);
        margin-bottom: 3rem;
      }

      @include sm {
        margin-bottom: 2rem;
      }

      .design__item:hover & {

        @include domd {
          color: var(--white);
        }
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: var(--blue-50);

      @include md {
        color: var(--sizyy-50);
      }

      .design__item:hover & {

        @include domd {
          color: var(--sizyy-50);
        }
      }
    }

    &-btn {
      --btn-color: var(--blue);
      --btn-border-color: var(--blue);

      width: 100%;
      margin-top: auto;

      @include md {
        --btn-color: var(--white);
        --btn-border-color: var(--white);
      }

      @include sm {
        margin-top: auto;
      }

      .design__item:hover &,
      &:hover {

        @include domd {
          --btn-color: var(--white);
          --btn-border-color: var(--white);
        }
      }
    }
  }
}