@use './../mixins' as *;

.detail {


  &__inner {
    display: grid;
    grid-template-columns: calc(55.07% - (16.5rem / 2)) calc(44.93% - (16.5rem / 2));
    gap: 6rem 16.5rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    grid-column: 1/2;
    grid-row: 1/2;

    @include md {
      order: 1;
    }

    &-img {
      width: 100%;
      height: auto;
      max-height: 52.4rem;
      aspect-ratio: 705/524;
    }
  }

  &__form {
    grid-column: 1/2;
    grid-row: 2/3;

    @include md {
      order: 3;
    }
  }

  &__body {
    grid-column: 2/3;
    grid-row: 1/3;

    position: relative;

    @include md {
      order: 2;
    }

    &::before {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0;
      background: var(--sizyy-50);
      transition: all 1s linear;

      position: absolute;
      left: calc((-16.5rem / 2));
      top: 0;

      @include md {
        display: none;
      }

      .showed & {
        height: 100%;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      gap: 1rem;
    }

    &--feat {

      .detail__item-head {
        display: none;
      }
    }

    &-head {

      * {
        font-weight: 700;

        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-body {}

    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    &-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      padding: 0 1.5rem;
      border: 0.1rem solid var(--blue-30);
      transition: all 0.3s ease;

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 120%;
      text-align: center;

      @include md {
        border-color: var(--blue);
      }

      &:hover {

        @include domd {
          border-color: var(--blue);
        }
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1rem;
      }

      p {
        line-height: 125%;
      }
    }

    &-feats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 3rem;

      @include md {
        gap: 2rem 1rem;
      }
    }

    &-feat {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1rem;
      }
    }

    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.6rem;
      height: 6.6rem;
      background-color: var(--blue);

      font-weight: 400;
      font-size: 4rem;
      line-height: 120%;
      color: var(--white);
      text-align: center;
    }

    &-title {

      * {
        font-weight: 700;
      }
    }
  }

  .form {
    padding: 0;

    @include md {
      width: calc(100vw);
      margin-left: calc(var(--container-padding) * -1);
      padding: 3rem var(--container-padding);
      background-color: var(--blue);
    }

    &__head {
      padding: 0;

      @include domd {
        color: var(--blue);
      }
    }

    &-input {

      @include domd {
        color: var(--blue);
      }

      &::placeholder {

        @include domd {
          color: var(--blue-50);
        }
      }
    }

    &-label {

      @include domd {
        color: var(--blue-50);

        &::before {
          background-color: var(--blue-10);
        }

        &::after {
          background-color: var(--blue);
        }
      }
    }

    &-btn {

      @include domd {
        --btn-color: var(--blue);
        --btn-border-color: var(--blue);
      }
    }

    &-wrap {

      p {

        @include domd {
          color: var(--blue);
        }
      }
    }
  }

  .dropdown {

    @include md {

      &.show {

        .dropdown-btn {
          border-color: var(--white-10);
          color: var(--blue);
        }
      }

      &-btn {
        border-color: var(--white-10);
        color: var(--white-50);

        &.filled {
          border-color: var(--white);
          color: var(--white);
        }
      }
    }
  }
}