@use './../mixins' as *;

.exp {
  background-color: var(--blue);
  margin-bottom: 0;

  color: var(--white);

  &__inner {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10rem 0;
    position: relative;
    z-index: 2;

    @include md {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 0 8rem 0 0;

    &-wrap {
      max-width: 70.5rem;
      aspect-ratio: 705/497;
    }

    .btn {
      max-width: 43rem;
      width: 100%;
    }
  }

  .lines {
    z-index: -1;
  }

  .general__head {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
  }

  &__counts {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__count {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    color: var(--sizyy);

    &:nth-child(1) {

      .numbers {
        // margin-left: -2.5rem;
      }
    }

    &:nth-child(2) {

      .numbers {
        // margin-left: -5.5rem;
      }
    }

    .number-roll {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 18rem;
      line-height: 100%;

      width: fit-content;

      @include md {
        font-size: 12rem;
      }

      @include sm {
        font-size: 10rem;
      }

      &+span {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18rem;
        line-height: 100%;

        @include md {
          font-size: 12rem;
        }

        @include sm {
          font-size: 10rem;
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    --exp-item-margin-top: 6rem;

    width: 50%;
    padding: 0 7rem 0 5rem;
    margin: var(--exp-item-margin-top) 0;
    // border-top: 0.1rem solid var(--white-10);
    border-left: 0.1rem solid var(--white);
    color: var(--sizyy);

    position: relative;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0.1rem;
      background-color: var(--white-10);
      transition: width 2s linear;
      pointer-events: none;

      position: absolute;
      top: calc(var(--exp-item-margin-top) * -1);
      right: 0;
      left: 0;

      .showed & {
        width: 100%;
      }
    }

    @include sm {
      width: 100%;
    }

    &-suptitle {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 120%;

      margin-bottom: 2rem;

      span {
        font-size: 5rem;
      }
    }

    &-title {
      color: var(--white);
      margin-bottom: 3rem;
    }

    &-text {}
  }
}