@use './../mixins' as *;

.exp {
  background-color: var(--blue);
  margin-bottom: 0;

  color: var(--white);

  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: var(--white-10);

    position: absolute;
    top: 0;
    left: 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10rem 0;
    position: relative;
    z-index: 2;

    @include md {
      grid-template-columns: 1fr;
      gap: 4rem;
      padding: 4rem 0;
    }

    @include sm {
      gap: 3rem;
      padding: 2rem 0 3rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 0 8rem 0 0;

    @include md {
      padding: 0;
    }

    &-wrap {
      max-width: 70.5rem;
      aspect-ratio: 705/497;

      @include md {
        display: none;
      }
    }

    .btn {
      max-width: 42.6rem;
      width: 100%;

      @include md {
        max-width: 50%;
        margin-top: 1rem;
      }

      @include sm {
        max-width: 100%;
      }
    }
  }

  .lines {
    z-index: -1;

    &-line-5 {
      display: block;
    }
  }

  .general__head {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0;

    @include md {
      gap: 3rem;
    }

    &-title {

      @include md {
        max-width: 57.5rem;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
  }

  &__counts {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include md {
      flex-direction: row;
      gap: 3rem;
    }

    @include xmd {
      flex-direction: column;
    }
  }

  &__count {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    color: var(--sizyy);

    @include md {
      gap: 2rem;
      justify-content: space-between;
      width: calc(50% - 1.5rem);
    }

    @include sm {
      width: 100%;
    }

    &:nth-child(1) {

      .numbers {
        // margin-left: -2.5rem;
      }
    }

    &:nth-child(2) {

      .numbers {
        // margin-left: -5.5rem;
      }
    }

    .number-roll {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 18rem;
      line-height: 100%;

      width: fit-content;

      @include md {
        font-size: 10rem;
      }

      &+span {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18rem;
        line-height: 100%;

        @include md {
          font-size: 10rem;
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    @include md {
      gap: 3rem 6.4rem;
      padding: 3rem 0 0 0;
    }

    @include sm {
      padding: 2rem 0 0 0;
      gap: 2rem;
    }

    &::before {
      content: "";
      display: none;
      width: 0;
      height: 0.1rem;
      background-color: var(--white-10);
      transition: width 2s linear;
      pointer-events: none;
      margin-left: calc(var(--container-padding) * -1);

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      @include md {
        display: block;
      }

      .showed & {
        width: calc(100% + (var(--container-padding) * 2));
      }
    }

    &::after {
      content: "";
      display: none;
      width: 1rem;
      height: calc(100% + 3.8rem);
      background-color: var(--blue);
      position: absolute;
      top: 0.1rem;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);

      @include md {
        display: block;
      }

      @include sm {
        display: none;
      }
    }
  }

  &__item {
    --exp-item-margin-top: 6rem;

    width: 50%;
    padding: 0 7rem 0 5rem;
    margin: var(--exp-item-margin-top) 0;
    // border-top: 0.1rem solid var(--white-10);
    border-left: 0.1rem solid var(--white);
    color: var(--sizyy);

    position: relative;

    @include md {
      width: calc(50% - 3.2rem);
      padding: 1rem 0 0 2rem;
      margin: 0;
    }

    @include xmd {
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0.1rem;
      background-color: var(--white-10);
      transition: width 2s linear;
      pointer-events: none;

      position: absolute;
      top: calc(var(--exp-item-margin-top) * -1);
      right: 0;
      left: 0;

      @include md {
        display: none;
      }

      .showed & {
        width: 100%;
      }
    }

    @include sm {
      width: 100%;
    }

    &-suptitle {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 120%;

      margin-bottom: 2rem;

      span {
        font-size: 5rem;
      }
    }

    &-title {
      color: var(--white);
      margin-bottom: 3rem;

      @include md {
        margin-bottom: 2rem;
      }

      h6 {
        font-weight: 700;
      }
    }

    &-text {}
  }

  .lines {

    &-line {
      background-color: var(--white-10);

      &-3 {

        @include md {
          display: block;
        }

        @include sm {
          display: none;
        }
      }
    }
  }
}