@use './../mixins' as *;

.hero {
  padding-top: var(--header-height);
  position: relative;
  margin-bottom: 0;
  overflow: visible;

  @include sm {
    // display: none;
    // overflow-x: hidden;
  }

  &.showed {

    .lines-line-4 {
      height: calc(100% - 15.8rem) !important;
    }

    .lines-line-5 {

      path {
        stroke-dasharray: 4000;
        stroke-dashoffset: 4000;
        animation: one 6s linear forwards;
      }
    }
  }

  .container {
    overflow: hidden;
  }

  &__wrap {
    height: 100%;

    position: relative;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 5rem 0;
    height: 100%;

    color: var(--white);

    position: relative;
    z-index: 2;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__title {
    margin-top: 10rem;
    text-transform: uppercase;

    grid-column: 4/8;

    @include md {
      margin-top: 12.5rem;
      margin-bottom: 5rem;
    }

    @include sm {
      margin-top: 9rem;
      margin-bottom: 3rem;
    }

    h1 {

      br {

        &:first-child {
          display: none;

          @include md {
            display: block;
          }
        }
      }
    }
  }

  &__btn {
    width: 100%;

    grid-column: 5/7;

    @include md {
      width: fit-content;
      min-width: 36.7rem;
    }

    @include sm {
      min-width: 100%;
    }
  }

  &__text {
    padding: 3.4rem 4rem 3.3rem 4rem;
    border-top: 0.1rem solid var(--white-30);
    margin: auto 0 0 auto;
    width: 100%;

    text-transform: uppercase;

    grid-column: 5/9;

    @include md {
      padding: 6rem calc(9.6rem + var(--container-padding)) 33.2rem 9.6rem;
      margin: 9rem calc(var(--container-padding) * -1) 0 0;
      width: calc(100% + var(--container-padding));
    }

    @include sm {
      margin: 4rem 0 0 0;
      padding: 5.4rem 2rem 7.5rem 2rem;
    }

    p {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 2rem;
      line-height: 150%;

      @include md {}
    }
  }

  &__cover {
    width: auto;
    height: 100%;
    aspect-ratio: 631/850;

    position: absolute;
    left: 7.4rem;
    bottom: 0;

    @include md {
      left: unset;
      right: -33.8rem;
      z-index: -1;
    }

    @include sm {
      display: none;
    }

    img {

      @include md {
        position: relative;
        z-index: -2;
      }
    }

    &::before {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      right: calc(33.8rem - var(--container-padding));
      bottom: 0;
      left: calc((33.8rem + var(--container-padding)) * -1);
      z-index: -1;
      background: rgba(0, 0, 0, 0.6);

      @include md {
        display: block;
      }
    }
  }

  &__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .lines {

    &-line {

      &-4 {
        transition: height 2s linear;
        grid-column: 7/8;

        @include md {
          display: none;
        }
      }

      &-5 {
        display: flex;
        justify-content: flex-end;
        width: auto;
        height: 100%;
        background-color: transparent;

        grid-column: 8/10;

        @include md {
          display: none;
        }

        svg {
          width: 5.768rem;
          height: 100%;
          pointer-events: none;
          margin-right: -0.3rem;
        }

        path {
          stroke: var(--white-30);
        }
      }
    }
  }
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.6rem;
  height: 27.6rem;
  border-radius: 50%;
  background-color: var(--white);
  overflow: hidden;
  transition: color 0.8s ease;

  color: var(--blue);

  position: absolute;
  bottom: -12.3rem;
  left: -3.8rem;
  z-index: 5;

  @include md {
    bottom: -13.8rem;
  }

  @include sm {
    width: 10rem;
    height: 10rem;
    bottom: -5rem;
    left: -3rem;
  }

  i {
    font-size: 15rem;

    background-color: var(--sizyy-10);
    border-radius: 50%;

    position: relative;
    z-index: 2;

    @include sm {
      font-size: 5rem;
    }
  }

  &:hover {
    color: var(--white);

    &::before {
      clip-path: circle(50% at 50% 50%);
    }

    i {
      animation: btnBounce 1s cubic-bezier(0.61, 0.48, 1, 0.6) forwards;
    }
  }

  &::before {
    content: "";
    width: 105%;
    height: 105%;
    background-color: var(--blue);
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.8s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes btnBounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes one {
  100% {
    stroke-dashoffset: 0;
  }
}