@use './../mixins' as *;

.object {

  &__inner {
    display: grid;
    grid-template-columns: calc(55.07% - (16.5rem / 2)) calc(44.93% - (16.5rem / 2));
    gap: 6rem 16.5rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__head {
    order: 1;

    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__body {
    order: 2;

    grid-column: 2/3;
    grid-row: 1/3;

    position: relative;

    @include md {
      padding-bottom: 3rem;
    }

    &::before {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0;
      background-color: var(--sizyy-50);
      transition: all 1s linear;

      position: absolute;
      top: 0;
      left: calc((-16.5rem / 2));

      @include md {
        width: 0;
        height: 0.1rem;
        background-color: var(--blue-10);

        top: unset;
        left: 0;
        bottom: 0;
      }

      .showed & {
        height: 100%;

        @include md {
          height: 0.1rem;
          width: 100%;
        }
      }
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--big {}

    &--min {
      opacity: 0;
      transition: opacity 0.5s ease 0.5s;

      @include md {
        display: none;
      }

      .showed & {
        opacity: 1;
      }

      .swiper-slide {
        border: 0.1rem solid transparent;
        transition: all 0.5s ease;
        max-height: 9rem;

        &-thumb-active {
          border-color: var(--sizyy);
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent !important;

      i {
        color: var(--white);
      }
    }
  }

  &__slide {
    aspect-ratio: 705/497;
  }

  &__item {
    height: 100%;

    &-wrap {
      height: 100%;

      img {
        // min-width: 100%;
        // width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__video {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.61);
      transition: all 0.5s ease;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &.playing {

      &::before {
        opacity: 0;
      }

      i {
        opacity: 0;
      }

      .object__video-frame {
        z-index: 3;
      }
    }

    i {
      font-size: 6rem;
      color: var(--white);
      border: 0.1rem solid var(--white);
      border-radius: 50%;
      transition: all 0.5s ease;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    &-frame {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: 4rem;

      @include sm {
        margin-bottom: 0;
      }

      h4 {

        @include sm {
          font-size: 2rem;
        }
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;

      @include md {
        margin-bottom: 3rem;
      }

      @include sm {
        gap: 2rem;
        margin-bottom: 2rem;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include sm {
        gap: 1.5rem;
      }

      h6 {
        font-weight: 700;
      }

      ul {
        padding-left: 2rem !important;
      }

      li {

        @include sm {
          margin-bottom: 1.5rem !important;
        }

        &::before {
          left: -2rem !important;
          width: 0.5rem !important;
          height: 0.5rem !important;
          border-radius: 0 !important;
          background-color: var(--blue) !important;
        }

        p {
          text-decoration-style: dotted;
          text-decoration-color: var(--blue);
          text-decoration-line: underline;
        }
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

    @include sm {
      gap: 1.5rem;
      margin-bottom: 2rem;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      @include sm {
        gap: 1rem;
      }

      i {
        font-size: 2.4rem;

        @include sm {
          font-size: 1.6rem;
        }
      }

      p {

        span {
          font-weight: 700;
        }
      }
    }
  }

  .form {
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;

    @include md {
      order: 3;
    }

    @include sm {
      padding-top: 1rem;
    }

    &__head {
      color: var(--blue);
      padding: 0;
    }

    &-input {

      &::placeholder {
        color: var(--blue-50);
      }
    }

    &-label {
      color: var(--blue-50);

      &::before {
        background-color: var(--blue-10);
      }

      &::after {
        background-color: var(--blue);
      }
    }

    &-btn {
      --btn-color: var(--blue);
      --btn-border-color: var(--blue);
    }

    &-wrap {

      p {
        color: var(--blue);
      }
    }
  }
}