@use './../mixins' as *;

.privacy {

  &__page {

    .general__head {
      max-width: 126rem;

      &-title {

        * {
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 5rem;
          line-height: 100%;
          text-transform: unset;

          @include md {
            font-size: 5rem;
          }

          @include sm {
            font-size: 3rem;
          }
        }
      }
    }
  }

  &__inner {
    max-width: 126rem;
    width: 100%;
  }

  p {
    margin-bottom: 2rem;

    @include md {
      margin-bottom: 1rem;
    }
  }

  .h4 {
    padding-top: 1rem;
    margin-bottom: 2rem;

    @include md {
      padding-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  ul {
    margin-bottom: 2rem;

    @include md {
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 2rem !important;

      @include md {
        margin-bottom: 1rem !important;
      }
    }
  }

  a {

    &:hover {
      text-decoration: underline;
    }
  }
}