@use './../mixins' as *;

.quiz {
  padding: 0;
  margin-bottom: 0;
  min-height: 100vh;
  overflow: hidden;
  color: var(--white);

  position: relative;

  @include md {
    min-height: auto;
  }

  &.showed {

    .lines-line-4 {
      height: 100%;
    }

    .lines-line-5 {
      height: 100%;
    }
  }

  .general__head {
    margin-bottom: 0;

    &-title {
      margin-bottom: 5rem;

      @include md {
        margin-bottom: 4rem;
      }

      @include sm {
        margin-bottom: 3rem;
      }

      h2 {

        @include md {
          font-size: 8rem;
        }

        @include sm {
          font-size: 4rem;
        }
      }
    }

    &-text {
      width: 25%;
      margin-bottom: 6rem;

      @include md {
        max-width: 43.6rem;
        width: 100%;
        margin-bottom: 4.6rem;
      }

      @include sm {
        max-width: 100%;
        margin-bottom: 5.6rem;
      }
    }
  }

  &__inner {
    padding: 10rem 0;
    height: 100%;
    position: relative;

    @include md {
      padding: 18rem 0 49.9rem 0;
    }

    @include sm {
      padding: 7rem 0 24rem 0;
    }
  }

  &__btn {
    width: 25%;

    @include md {
      // max-width: 43.6rem;
      max-width: calc((100% / 754) * 378);
      width: 100%;
    }

    @include sm {
      max-width: 26.3rem;
      max-width: calc((100% / 353) * 266);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .lines {
    width: auto;

    @include md {
      // display: none;
    }

    &-line-3 {

      @include md {
        display: block;
      }

      @include sm {
        display: none;
      }
    }

    &-line-4 {

      @include sm {
        display: block;
      }
    }

    &-line-5 {
      width: 0.1rem;
      height: 0;
      grid-column: 9 / 10;
      background-color: var(--white-30);

      @include md {
        display: block;
      }

      @include sm {
        display: none;
      }
    }
  }
}