@use './../mixins' as *;

.reviews {

  @include sm {
    margin-bottom: 4rem;
  }

  &__slider {

    @include md {
      max-width: 100vw;
      width: calc(100% + (var(--container-padding) * 2));
      margin-left: calc(var(--container-padding) * -1);
      padding: 0 var(--container-padding);
    }
  }

  &__slide {

    @include md {
      max-width: 26.3rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;

    @include md {
      gap: 2rem;
    }

    &-head {
      width: 100%;
      height: 100%;
      max-height: 29.2rem;

      @include md {
        max-height: 18.4rem;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-body {
      display: flex;
      flex-direction: column;
    }

    &-date {
      margin-bottom: 2rem;

      @include md {
        margin-bottom: 1rem;
      }
    }

    &-title {
      margin-bottom: 3rem;

      @include md {
        margin-bottom: 2rem;
      }

      & * {
        font-weight: 700;

        @include md {
          font-size: 2rem;
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-top: auto;

      i {
        font-size: 1.6rem;
      }

      span {
        text-decoration-style: dotted;
        text-decoration-color: var(--blue);
        text-decoration-line: underline;

        .reviews__item:hover & {

          @include domd {
            text-decoration: none;
          }
        }
      }
    }
  }
}