@use './../mixins' as *;

.services {

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 18rem;

    @include md {
      margin-bottom: 3rem;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &:nth-child(2n) {
      flex-direction: column-reverse;
    }

    &-img {
      width: 100%;
      height: 100%;

      @include md {
        height: 25.4rem;
      }
    }

    .design__item {
      width: 100%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 9.25rem;

    @include md {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      display: grid;
      grid-template-rows: 0fr auto auto;
      gap: 0;
      overflow: hidden;

      padding-bottom: 2rem;
      border-bottom: 0.1rem solid var(--blue-10);
    }

    &:last-child {
      padding-bottom: 1rem;
      border-bottom: 0;
    }

    & * {
      transition: all 0.5s ease;
    }

    &-active {

      @include md {
        grid-template-rows: 1fr auto auto;
      }
    }

    &-head {
      width: 100%;
      height: 29.2rem;
      overflow: hidden;
      position: relative;

      @include md {
        max-height: 0;
        height: 100%;
        grid-row: 2/3;
      }

      .services__item-active & {

        @include md {
          max-height: 24.8rem;
          margin-bottom: 3rem;
        }
      }
    }

    &-count {
      width: 6.6rem;
      height: 6.6rem;
      padding: 1rem 0 0 1.3rem;
      background-color: var(--blue);
      overflow: hidden;
      color: var(--white);

      position: absolute;
      top: 0;
      left: 0;

      h6 {
        font-weight: 400;
        width: fit-content;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-body {
      width: 100%;
      padding: 0 6rem 0 0;
      margin-bottom: auto;

      @include md {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        padding: 0;
        grid-row: 1/2;
        margin-bottom: 0;
      }

      .services__item-active & {

        @include md {
          margin-bottom: 2rem;
        }
      }

      i {
        font-size: 1.5rem;
        height: fit-content;

        @include domd {
          display: none;
        }

        .services__item-active & {

          transform: scale(-1, -1);
        }
      }
    }

    &-title {

      h5 {
        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-foot {
      width: 100%;
      overflow: hidden;

      @include md {
        grid-row: 3/4;
        max-height: 0;
        height: 100%;
      }

      .services__item-active & {

        @include md {
          max-height: 5rem;
        }
      }
    }

    &-btn {
      --btn-width: 100%;
      --btn-color: var(--blue);
      --btn-border-color: var(--blue);

      @include md {
        max-width: 26rem;
      }
    }
  }
}