@use './../mixins' as *;

.team {
  margin: 0;
  background-color: var(--white);
  overflow: hidden;

  .general__head {
    margin-bottom: 0;
  }

  .swiper__btns {
    justify-content: flex-end;

    position: absolute;
    // right: 14.5rem;
    right: 0;
    bottom: 0;

    width: calc(50% - 8rem);

    @include md {
      position: static;
      width: fit-content;

      grid-column: 1/2;
      grid-row: 2/3;
    }

    @include sm {
      display: none;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md {
      display: grid;
      grid-template-columns: 17.24% 82.76%;
      gap: 7.6rem 0;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      gap: 3rem 0;
    }

    .btn {
      --btn-color: var(--blue);
      --btn-border-color: var(--blue);

      max-width: 41.5rem;
      width: 100%;

      @include md {
        grid-column: 2/3;
        grid-row: 2/3;

        margin-left: 6rem;
        max-width: 36.7rem;
      }

      @include sm {
        margin-left: 0;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 0;
    position: relative;

    @include md {
      gap: 3rem;
      padding: 4rem 0 6rem;
    }

    @include sm {
      gap: 2rem;
      padding: 3rem 0;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: calc(50% - 8rem) calc(50% - 8rem);
    gap: 0 16rem;

    @include md {
      display: block;
    }
  }

  &__slider {

    &--big {
      max-width: 100%;
      z-index: 2;

      @include md {
        display: none;
      }

      .team__slide {
        // padding: 0 14.5rem 0 0;
      }

      .swiper-slide {
        opacity: 0;
      }

      .swiper-slide-active {
        opacity: 1;

        transform: scale(1);
      }

      .swiper-slide-next {

        .team__item-cover {
          opacity: 0;
        }
      }
    }

    &--min {
      max-width: 100%;
      overflow: visible;
      z-index: 1;

      @include md {
        grid-column: 1/3;
        grid-row: 1/2;
      }

      &::after {
        content: "";
        width: 100%;
        height: 0.1rem;
        background-color: var(--blue-10);

        position: absolute;
        left: 0;
        bottom: -5rem;
        right: 0;

        @include md {
          display: none;
        }
      }

      .swiper-slide {
        opacity: 0;
        transition: all 0.5s linear, transform 0.3s linear, opacity 0.3s linear;

      }

      .swiper-slide-active {
        opacity: 1;

        transform: scale(1);
      }

      .swiper-slide-next {
        opacity: 1;

        transform: scale(1);
      }

      .team__item-cover {
        aspect-ratio: 415/292;
      }

      .team__item-cover::before {
        opacity: 0;
      }

      .team__item-quote {
        opacity: 0;
      }

      .team__item-exp {
        color: var(--sizyy);
      }
    }
  }

  &__slide {
    flex-shrink: 0;
    transition: all 0.5s linear;
    transform-origin: center center;
    will-change: width, transform, padding;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear, padding 0s;

    @include sm {
      gap: 2rem;
    }

    &-cover {
      width: 100%;
      height: auto;
      transition: all 0.5s linear;
      position: relative;

      @include sm {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 705/497;
      }

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 21.7rem;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 1;
        transition: all 0.5s linear;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }

    &-quote {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 4rem 12rem 4rem 4rem;
      width: 100%;
      transition: all 0.5s linear;
      color: var(--white);
      opacity: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;

      @include sm {
        gap: 2rem;
        padding: 0;
        opacity: 1 !important;

        position: static;
      }

      &::before {
        content: "";
        display: block;
        width: 4.3rem;
        height: 3.4rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDMiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCA0MyAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xOC40IDBMMTEuOCAyNEw5LjYgMTVDMTIuNDY2NyAxNSAxNC44IDE1LjgzMzMgMTYuNiAxNy41QzE4LjQgMTkuMTY2NyAxOS4zIDIxLjQ2NjcgMTkuMyAyNC40QzE5LjMgMjcuMjY2NyAxOC4zNjY3IDI5LjYgMTYuNSAzMS40QzE0LjcgMzMuMTMzMyAxMi40MzMzIDM0IDkuNyAzNEM2LjkgMzQgNC41NjY2NyAzMy4xMzMzIDIuNyAzMS40QzAuOSAyOS42IDAgMjcuMjY2NyAwIDI0LjRDMCAyMy41MzMzIDAuMDY2NjY2NyAyMi43IDAuMiAyMS45QzAuMzMzMzMzIDIxLjAzMzMgMC42IDIwLjAzMzMgMSAxOC45QzEuNCAxNy43NjY3IDEuOTY2NjcgMTYuMjY2NyAyLjcgMTQuNEw4LjUgMEgxOC40Wk00MiAwTDM1LjQgMjRMMzMuMiAxNUMzNi4wNjY3IDE1IDM4LjQgMTUuODMzMyA0MC4yIDE3LjVDNDIgMTkuMTY2NyA0Mi45IDIxLjQ2NjcgNDIuOSAyNC40QzQyLjkgMjcuMjY2NyA0MS45NjY3IDI5LjYgNDAuMSAzMS40QzM4LjMgMzMuMTMzMyAzNi4wMzMzIDM0IDMzLjMgMzRDMzAuNSAzNCAyOC4xNjY3IDMzLjEzMzMgMjYuMyAzMS40QzI0LjUgMjkuNiAyMy42IDI3LjI2NjcgMjMuNiAyNC40QzIzLjYgMjMuNTMzMyAyMy42NjY3IDIyLjcgMjMuOCAyMS45QzIzLjkzMzMgMjEuMDMzMyAyNC4yIDIwLjAzMzMgMjQuNiAxOC45QzI1IDE3Ljc2NjcgMjUuNTY2NyAxNi4yNjY3IDI2LjMgMTQuNEwzMi4xIDBINDJaIiBmaWxsPSJ3aGl0ZSIvPg0KPC9zdmc+DQo=);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;

        @include sm {
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDMiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCA0MyAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xOC40IDBMMTEuOCAyNEw5LjYgMTVDMTIuNDY2NyAxNSAxNC44IDE1LjgzMzMgMTYuNiAxNy41QzE4LjQgMTkuMTY2NyAxOS4zIDIxLjQ2NjcgMTkuMyAyNC40QzE5LjMgMjcuMjY2NyAxOC4zNjY3IDI5LjYgMTYuNSAzMS40QzE0LjcgMzMuMTMzMyAxMi40MzMzIDM0IDkuNyAzNEM2LjkgMzQgNC41NjY2NyAzMy4xMzMzIDIuNyAzMS40QzAuOSAyOS42IDAgMjcuMjY2NyAwIDI0LjRDMCAyMy41MzMzIDAuMDY2NjY2NyAyMi43IDAuMiAyMS45QzAuMzMzMzMzIDIxLjAzMzMgMC42IDIwLjAzMzMgMSAxOC45QzEuNCAxNy43NjY3IDEuOTY2NjcgMTYuMjY2NyAyLjcgMTQuNEw4LjUgMEgxOC40Wk00MiAwTDM1LjQgMjRMMzMuMiAxNUMzNi4wNjY3IDE1IDM4LjQgMTUuODMzMyA0MC4yIDE3LjVDNDIgMTkuMTY2NyA0Mi45IDIxLjQ2NjcgNDIuOSAyNC40QzQyLjkgMjcuMjY2NyA0MS45NjY3IDI5LjYgNDAuMSAzMS40QzM4LjMgMzMuMTMzMyAzNi4wMzMzIDM0IDMzLjMgMzRDMzAuNSAzNCAyOC4xNjY3IDMzLjEzMzMgMjYuMyAzMS40QzI0LjUgMjkuNiAyMy42IDI3LjI2NjcgMjMuNiAyNC40QzIzLjYgMjMuNTMzMyAyMy42NjY3IDIyLjcgMjMuOCAyMS45QzIzLjkzMzMgMjEuMDMzMyAyNC4yIDIwLjAzMzMgMjQuNiAxOC45QzI1IDE3Ljc2NjcgMjUuNTY2NyAxNi4yNjY3IDI2LjMgMTQuNEwzMi4xIDBINDJaIiBmaWxsPSIjMDMyMTU0Ii8+DQo8L3N2Zz4NCg==);
        }
      }

      h5 {
        font-style: italic;
        font-weight: 400;

        @include sm {
          font-size: 1.6rem;
          color: var(--blue);
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        height: 100%;
      }

      @include sm {
        gap: 1rem;
      }
    }

    &-post {}

    &-name {
      max-width: 80%;

      @include md {
        max-width: 100%;
      }

      h5 {

        @include sm {
          font-size: 2rem;
        }
      }
    }

    &-exp {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.6rem;
      color: var(--blue);
      transition: all 0.5s linear;

      @include md {
        margin-top: auto;
      }

      @include sm {
        gap: 0.3rem;
      }

      span {
        font-weight: 700;
        font-size: 5rem;
        line-height: 122%;

        @include sm {
          font-size: 3rem;
        }
      }
    }
  }

  .lines {

    @include md {
      display: none;
    }

    &-line {
      background-color: var(--blue-10);
    }
  }
}