@use './../mixins' as *;

.page__inner {

  .container:not(.footer .container) {
    --container-padding: 24.5rem;

    @include md {
      --container-padding: 4rem;
    }

    @include sm {
      --container-padding: 2rem;
    }
  }

  .wrapper {
    padding-top: 18rem;

    @include md {
      padding-top: 12.6rem;
    }

    @include sm {
      padding-top: 9rem;
    }
  }
}