@use './../mixins' as *;

.footer {
  background-color: var(--blue);

  &__foot {
    padding: 3rem 0;
    color: var(--sizyy);

    @include md {
      padding: 2rem 0;
    }

    @include sm {
      padding: 1rem 0;
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;

      @include md {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      @include sm {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
      }
    }

    &-center {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      @include md {
        flex-direction: column;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-text {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 120%;

      @include md {
        font-size: 1.4rem;
        line-height: 100%;
        color: var(--sizyy-50);
      }
    }

    &-link {
      color: var(--sizyy-50);
      text-decoration: underline;

      &:hover {
        color: var(--sizyy);
      }
    }

    &-made {

      a {
        height: 2rem;

        img {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}