@use './../mixins' as *;

.footer {
  background-color: var(--blue);

  @include md {
    padding-top: 4rem;
  }

  &.showed {

    .menu__foot::before {
      width: 100%;
    }

    .menu__content::before {
      width: 100%;
    }
  }

  .menu {

    &__list {
      padding: 6rem 4rem 4rem 4rem;

      @include md {
        padding: 0;
      }

      @include sm {
        padding-bottom: 3rem;
      }

      a {

        @include md {
          font-size: 2rem;
        }

        @include sm {
          font-size: 1.6rem;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3rem 10rem;
      padding: 4rem;

      position: relative;

      @include md {
        padding: 0;
      }

      @include sm {
        flex-direction: column;

        border-top: 0.1rem solid var(--white-10);
        padding-top: 3rem;
      }

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0.1rem;
        background-color: var(--white-10);
        position: absolute;
        top: 0;
        left: 0;
        transition: width 1s linear;

        @include md {
          display: none;
        }
      }
    }

    &__item {
      width: fit-content;

      &:first-child {
        width: 100%;
      }
    }

    &__foot {
      padding: 6rem 0 4rem;
      border-top: 0.1rem solid var(--white-10);

      position: relative;

      @include md {
        padding: 3rem 0;
      }

      @include sm {
        gap: 1rem;
      }

      &::before {
        top: unset;
        bottom: 0;
        transition: width 1s linear;
      }

      &-phone {
        font-size: 6rem;

        @include sm {
          font-size: 3rem;
        }
      }

      &-mail {
        text-decoration: underline;
        font-size: 4.5rem;

        @include sm {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: calc(50% - 8rem) calc(50% - 8rem);
    gap: 0 16rem;

    position: relative;

    @include md {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0;
    }

    @include sm {
      padding-bottom: 6rem;
    }

    &::before {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0;
      background-color: var(--white-10);
      position: absolute;
      top: 0;
      left: 0;
      transition: height 1s linear;

      @include md {
        display: none;
      }

      .showed & {
        height: 100%;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0;
      background-color: var(--white-10);
      position: absolute;
      top: 0;
      right: 0;
      transition: height 1s linear;

      @include md {
        display: none;
      }

      .showed & {
        height: 100%;
      }
    }
  }

  &__top {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;

    @include md {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 3rem;
    }

    @include sm {
      display: flex;
      flex-direction: column;
    }

    &::before {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0;
      background-color: var(--white-10);
      position: absolute;
      top: 0;
      right: 0;
      transition: height 1s linear;

      @include md {
        display: none;
      }

      .showed & {
        height: 100%;
      }
    }
  }

  &__content {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0%;
      background-color: var(--white-10);
      position: absolute;
      top: 0;
      left: 0;
      transition: height 1s linear;

      @include md {
        display: none;
      }

      .showed & {
        height: 100%;
      }
    }
  }

  &__foot {
    padding: 3rem 4rem;
    color: var(--sizyy);

    grid-column: 1/3;
    grid-row: 2/3;

    position: relative;

    @include md {
      padding: 2rem 2rem;
      border-top: 0.1rem solid var(--white-10);
    }

    @include sm {
      padding: 2rem 0;
    }

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0.1rem;
      background-color: var(--white-10);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width 1s linear;

      @include md {
        display: none;
      }

      .showed & {
        width: 100%;
      }
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;

      @include md {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
      }

      @include sm {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
      }
    }

    &-center {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      @include md {
        flex-wrap: wrap;
        justify-content: center;
      }

      @include sm {
        flex-direction: column;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-text {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 120%;

      @include md {
        font-size: 1.4rem;
        line-height: 100%;
        color: var(--sizyy-50);
      }
    }

    &-link {
      color: var(--sizyy-50);
      text-decoration: underline;

      @include md {
        font-size: 1.2rem;
      }

      &:hover {
        color: var(--sizyy);
      }
    }

    &-made {

      a {
        height: 2rem;

        img {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}