@use './../mixins' as *;

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5rem;
  height: 15rem;
  background-color: var(--white);
  flex-shrink: 0;

  @include md {
    width: 14.4rem;
    height: 9.6rem;
    padding: 0 2rem;
  }

  @include sm {
    width: 9rem;
    height: 6rem;
    padding: 0 1.2rem;
  }

  &:hover {
    background-color: var(--blue);

    svg path {
      fill: var(--white);
    }
  }

  img {
    height: 6.8rem;
    object-fit: contain;

    @include md {
      width: 100%;
      height: auto;
    }
  }

  svg {
    height: 6.8rem;
    object-fit: contain;

    path {
      fill: var(--blue);
      transition: fill 0.3s ease;
    }

    @include md {
      width: 100%;
      height: auto;
    }
  }
}