@use './../mixins' as *;

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5rem;
  height: 15rem;
  background-color: var(--white);
  flex-shrink: 0;

  margin-bottom: -7rem;
  position: relative;
  z-index: 2;

  img {
    height: 6.8rem;
    object-fit: contain;
  }
}