@use './../mixins' as *;

.menu {
  display: grid;
  grid-template-columns: 41rem 72.4rem;
  grid-template-rows: 1fr auto;
  width: 100%;
  padding: 10rem 0 0 15rem;
  overflow: hidden;

  @include md {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem 5rem;
  }

  &__nav {
    padding: 0 0 6rem 0;

    position: relative;

    @include md {
      padding: 0 0 3rem 0;
    }

    &::before {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0;
      background-color: var(--white-10);
      transition: height 0.2s linear;

      position: absolute;
      bottom: 0;
      right: 0;

      @include md {
        width: 0;
        height: 0.1rem;
      }

      .menu--open & {
        height: 100%;

        transition: height 1s linear 1.5s;

        @include md {
          width: 100%;
          height: 0.1rem;

          transition: width 1s linear 0.3s;
        }
      }
    }
  }

  &__list {

    li {
      margin-bottom: 3rem;

      @include md {
        margin-bottom: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-weight: 400;
      font-size: 2rem;
      line-height: 130%;
      color: var(--sizyy);
      padding: 1rem 0;
      transition: all 0.3s ease-in-out;

      position: relative;

      @include md {
        font-size: 1.6rem;
      }

      &:hover {
        color: var(--white);
        padding-left: 3rem;

        @include md {
          padding-left: 0;
        }

        i {
          opacity: 1;
        }
      }

      i {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        font-size: 1.3rem;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    padding: 0 1rem 0 16.5rem;

    @include md {
      gap: 3rem;
      padding: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    color: var(--sizyy);

    @include md {
      gap: 1.5rem;

      font-size: 1.6rem;
    }

    &-suptitle {
      color: var(--sizyy-50);
    }

    &-map {
      color: var(--sizyy-50);
      text-decoration-style: dotted;
      text-decoration-color: var(--sizyy-50);
      text-decoration-line: underline;

      &:hover {
        color: var(--white);
        text-decoration-style: dotted;
        text-decoration-color: var(--white);
        text-decoration-line: underline;
      }
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      &:hover {
        color: var(--white);

        i {

          &::before {
            transform: rotate(360deg);
            transition: all 0.3s ease;
          }

          &::after {
            background-color: var(--white);
          }
        }
      }

      i {
        font-size: 1.5rem;
      }
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 6rem 0 10.8rem 0;

    font-family: var(--second-family);
    font-weight: 700;
    color: var(--sizyy);

    grid-column: 1/3;
    grid-row: 2/3;

    position: relative;

    @include md {
      padding: 3rem 0 0 0
    }

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0.1rem;
      background-color: var(--white-10);
      transition: width 0.2s linear;

      position: absolute;
      top: 0;
      right: 0;

      .menu--open & {
        width: 100%;

        transition: width 1s linear 0.8s;

        @include md {
          transition: width 1s linear 0.3s;
        }
      }
    }

    &-phone {
      font-size: 6rem;
      line-height: 115%;
      text-transform: uppercase;

      @include md {
        font-size: 3rem;
      }

      &:hover {
        color: var(--white);
      }
    }

    &-mail {
      font-size: 3.5rem;
      line-height: 115%;
      text-transform: lowercase;

      @include md {
        font-size: 2.5rem;
        text-decoration: underline;
      }

      &:hover {
        color: var(--white);
      }
    }
  }
}

.menu__cover {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include md {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 1s ease-out;
    transform: scale(1.1);

    .menu--open & {
      transform: scale(1);
    }
  }
}