@use './../mixins' as *;

.nav {
  height: 100%;

  @include md {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  li {
    height: 100%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 6rem;
    background-color: transparent;
    border-right: 0.1rem solid var(--white-50);
    border-bottom: 0.1rem solid transparent;
    transition: all 0.3s ease;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white-50);
    white-space: nowrap;

    .header.show & {
      color: var(--blue-full-50);
      border: unset;

      &:hover {
        background-color: var(--blue);

        color: var(--white);
      }
    }

    &:hover {
      color: var(--white);
      border-bottom-color: var(--white);
    }
  }
}