@use './../mixins' as *;

.panel {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;

  &.is__open {
    pointer-events: all;
    overflow-y: auto;

    .form {
      transform: translateX(0);
    }
  }

  &__inner {
    display: grid;
    justify-content: flex-end;
    width: calc(100% - 24.5rem);
    height: fit-content;
    background-color: var(--page-bg);

    clip-path: circle(0.0% at 100% 0);
    transition: clip-path 0.5s linear;
    will-change: clip-path;
    overflow: hidden;

    position: relative;
    z-index: 2;

    @include md {
      display: block;
      width: calc(100% - 4rem);
      overflow-y: auto;
    }

    @include sm {
      width: 100%;
    }

    .is__open & {
      clip-path: circle(150% at 100% 0);
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 10rem 6.6rem 3rem 14.5rem;
    width: 100%;
    overflow: hidden;

    @include md {
      gap: 3rem;
      padding: 7rem 4rem 4rem 9.4rem;
    }

    @include sm {
      gap: 2rem;
      padding: 8.2rem 2rem 3.4rem 2rem;
    }
  }

  &__head {
    transform: translateX(100%);
    transition: transform 1s linear;

    @include sm {
      transition: transform 0.5s linear;
    }

    .is__open & {
      transform: translateX(0);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16rem;
    transform: translateX(100%);
    transition: transform 1s linear;

    @include sm {
      transition: transform 0.5s linear;
    }

    .is__open & {
      transform: translateX(0);
    }

    @include md {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__cover {
    width: 100%;
    height: 100%;

    position: relative;

    &::after {
      content: "";
      display: block;
      width: 0.1rem;
      height: 0;
      background-color: var(--sizyy-50);
      transition: height 0.5s linear;

      position: absolute;
      top: 0;
      right: -8rem;
      z-index: 1;

      .is__open & {
        height: 100%;
        transition: height 1s linear 0.5s;
      }

      @include md {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include md {
      gap: 3rem;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include md {
      gap: 3rem;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include sm {
      gap: 1rem;
    }

    &-head {

      h6 {
        font-weight: 700;
      }
    }
  }

  &__feats {
    display: flex;
    flex-direction: row;
    gap: 4rem;


    @include sm {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__feat {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      max-width: 26rem;
    }

    @include sm {
      max-width: 30.5rem;
    }

    &-days {

      h3 {
        font-weight: 400;

        @include sm {
          font-size: 5rem;
        }

        span {
          font-weight: 400;
          font-size: 2.5rem;
        }
      }
    }

    &-title {

      p {
        font-weight: 700;
      }
    }
  }

  &__form {
    padding: 5rem 40rem 5rem 14.5rem;
    background-color: var(--blue);
    overflow: hidden;

    @include md {
      padding: 4rem 4rem 5rem 9.4rem;
    }

    @include sm {
      padding: 3rem 2rem 4.5rem 2rem;
    }
  }

  .form {
    transform: translateX(100%);
    transition: transform 1s linear;

    @include sm {
      transition: transform 0.5s linear;
    }

    &__content {
      width: 100%;
    }

    &-btn {
      max-width: 70.5rem;
    }
  }

  .dropdown {

    &.show {

      .dropdown-btn {
        color: var(--blue);
        border-color: transparent;
      }
    }

    &-btn {
      color: var(--white-50);
      border-color: var(--white-10);
    }
  }

  .burger {

    @include md {
      width: 18.6rem;
      height: 18.6rem;

      top: -4.9rem;
      right: -5.3rem;
    }

    @include sm {
      width: 10.3rem;
      height: 10.3rem;
      border-width: 0.8rem;

      top: -2.6rem;
      right: -2.2rem;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.59);
    backdrop-filter: blur(7.65px);

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .is__open & {
      opacity: 1;
      visibility: visible;
    }
  }
}