@use './../mixins' as *;

.plate {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: none;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s linear;
  transition-delay: 0.3s;
  background-color: var(--blue);

  @include sm {
    display: block;
  }

  .btn {
    --btn-width: 100%;
    --btn-height: 6rem;
  }
}