@use './../mixins' as *;

.plate {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: none;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s linear 0.3s, background-color 0.5s ease;
  background-color: var(--blue);

  @include sm {
    display: block;
  }

  .footer--show & {
    background-color: var(--white);
  }

  .btn {
    --btn-width: 100%;
    --btn-height: 6rem;

    transition: all 0.5s ease;

    .footer--show & {
      --btn-color: var(--blue);
      --btn-border-color: var(--blue);
    }
  }
}