@use './../mixins' as *;

.template {
  padding: 0;
  min-height: unset;
  margin-bottom: 4rem;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .general__head {
    margin: 0;
  }
}