@font-face {
  font-family: 'OsnovaIconFonts';
  src:  url('fonts/OsnovaIconFonts.eot?eqin9b');
  src:  url('fonts/OsnovaIconFonts.eot?eqin9b#iefix') format('embedded-opentype'),
    url('fonts/OsnovaIconFonts.ttf?eqin9b') format('truetype'),
    url('fonts/OsnovaIconFonts.woff?eqin9b') format('woff'),
    url('fonts/OsnovaIconFonts.svg?eqin9b#OsnovaIconFonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'OsnovaIconFonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-chevron:before {
  content: "\e902";
}
.icon-chevron-min:before {
  content: "\e903";
}
.icon-deconstruct:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e905";
}
.icon-download-arrow:before {
  content: "\e906";
}
.icon-exit:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e909";
}
.icon-marker .path1:before {
  content: "\e90a";
  color: rgb(3, 33, 84);
}
.icon-marker .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play:before {
  content: "\e90c";
}
.icon-telegram:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
.icon-zoom:before {
  content: "\e90f";
}
