@use './../mixins' as *;

html {
  --refRes: 1920;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: calc(100vw / var(--refRes) * 10);
  will-change: font-size;
  scroll-behavior: smooth;

  @include md {
    font-size: 62.5%;
  }
}

@media (min-width: 1921px) {
  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

body {
  min-width: 320px;
  background-color: var(--page-bg);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: var(--blue);

  cursor: default;

  @include sm {
    font-size: 1.4rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  display: flex;
  height: fit-content;
  min-height: 93rem;
  // height: auto;
  // min-height: clamp(93rem, 100vh, 100vh);
  margin-bottom: 6rem;
  overflow-y: hidden;

  @include md {
    min-height: unset;
    margin-bottom: 4rem;
  }

  @include sm {
    margin-bottom: 3rem;
  }
}

a {
  color: inherit;
  transition: all 0.3s ease;
}