@use './../mixins' as *;

/* Главный общий блок */
.general {

  &__head {
    // padding: 6rem 0 5rem;
    margin-bottom: 5rem;

    @include md {
      margin-bottom: 3rem;
    }

    @include sm {
      margin-bottom: 2rem;
    }
  }
}

/* Стиль для параллакс картинок */
[data-animation="parallax-img"] {
  overflow: hidden;

  img {
    width: 120%;
    min-width: 120%;
    height: 120% !important;
    margin-top: -10%;
    margin-left: -10%;
    object-fit: cover;

    @include sm {
      height: 120% !important;
      margin-top: -10%;
    }
  }
}

.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -1.7rem;

  white-space: nowrap;

  @include md {
    margin-left: 0;
  }
}

.digit-container {
  display: inline-block;
  overflow: hidden;
  width: 0.78em;
  height: 1em;
  vertical-align: bottom;
}

.digit {
  display: block;
  transform: translateY(0);

  text-align: right;
}

.digit span {
  display: block;
  line-height: 1em;

  @include md {
    line-height: 100%;
  }
}