@use './../mixins' as *;

.swiper {
  max-width: 100%;

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    position: absolute;
    bottom: 10rem;
    left: 0;
  }

  &-slide {
    height: auto;
  }

  &-pagination {
    text-align: left;
    margin-top: 3rem;
    position: static;

    &-bullet {
      border-radius: 0;
      width: 0.5rem;
      height: 0.5rem;
      margin: 0 0.25rem !important;
      background-color: var(--sizyy);
      opacity: 1;

      &-active {
        background-color: var(--blue);
      }
    }
  }
}

[class^="swiper-button-"]:not([class^="swiper-button-alt-"]),
[class*=" swiper-button-"]:not([class*=" swiper-button-alt-"]) {
  --swiper-btn-size: 6rem;

  width: var(--swiper-btn-size);
  height: var(--swiper-btn-size);
  margin: 0;
  border-radius: 50%;
  background-color: var(--sizyy-10);
  transition: all 0.3s ease;
  position: static;

  &:hover {

    @include domd {
      background-color: var(--blue);

      i {
        color: #F2F5F9;
      }
    }
  }

  // &:active {

  //   @include md {
  //     background-color: var(--blue);

  //     i {
  //       color: #F2F5F9;
  //     }
  //   }
  // }

  i {
    font-size: var(--swiper-btn-size);
    color: var(--blue);
    transition: all 0.3s ease;
  }

  &::after {
    display: none;
  }
}

[class^="swiper-button-alt-"],
[class*=" swiper-button-alt-"] {
  --swiper-btn-size: 6rem;

  display: flex;
  align-items: center;
  height: 100%;

  cursor: pointer;

  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;

  i {
    font-size: var(--swiper-btn-size);
    color: var(--white);

    &::before {
      transition: all 0.5s ease;
    }
  }

  &::after {
    display: none;
  }
}

.swiper-button-alt-prev {
  left: 0;

  i {
    transform: rotate(90deg);
  }
}

.swiper-button-alt-next {
  right: 0;

  i {
    transform: rotate(-90deg);
  }
}

.swiper-button-prev {
  transform: rotate(90deg);
}

.swiper-button-next {
  transform: rotate(-90deg);
}