@use './../mixins' as *;

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Halvar Breitschrift", sans-serif;
  --third-family: "Gotham", sans-serif;

  --container-padding: 10rem;
  --container-width: 172rem;

  --page-bg: #F7F8FA;
  --page-bg-10: rgba(247, 248, 250, 0.1);
  --white: #ffffff;
  --white-50: rgba(255, 255, 255, 0.5);
  --blue: #032154;
  --blue-50: rgba(3, 33, 84, 0.5);
  --sizyy: #79A0C1;
  --sizyy-10: rgba(121, 160, 193, 0.1);
  --red: #EA0C0C;
}